body {
    background-color: peru;
}
body { 
     color:black;    
}

.input1{
    width:300px;
    height: 50px;
    font-size: 30px;
    border : 5px solid black;
   border-top: none;
   border-left: 0px;
   border-right: 0px;
   text-align: center;
   
}
.input2{
    width:200px;
    height: 50px;
    font-size: 20px;
    border : 5px solid black;
   border-top: none;
   border-left: 0px;
   border-right: 0px;
}

ul {
    text-align: center;
    font-size: 40px;
    color:rosybrown;
    padding:10px;
    margin-top: 0px;
    
    
    
    
}

div {
    text-align: right;
    padding: 10px;
    color: white;
    font-size: 30px;
    
    
}

h1 {
    margin-top: 300px;
    margin-bottom: 100px;
    font-size: 100px;
    height: 10px;
    text-align: center;
    color:white;
}
 .form,
 .greetings{ 
    
     text-align: center;
     display: none;
    
    font-size: 50px;
     
 }

 .js-toDoForm {
     text-align: center;
    
     padding: 50px;
 
 }

.showing {
     display: block;
}


@keyframes fadeIn {
    from {
        opacity : 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height : 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}